<?xml version="1.0" encoding="UTF-8"?>
<rss  xmlns:atom="http://www.w3.org/2005/Atom" 
      xmlns:media="http://search.yahoo.com/mrss/" 
      xmlns:content="http://purl.org/rss/1.0/modules/content/" 
      xmlns:dc="http://purl.org/dc/elements/1.1/" 
      version="2.0">
<channel>
<title>Dr. Lynée Turek-Hankins</title>
<link>https://lyneeturekhankins.com/events.html</link>
<atom:link href="https://lyneeturekhankins.com/events.xml" rel="self" type="application/rss+xml"/>
<description>Dr. Lynée Turek-Hankins is...</description>
<image>
<url>https://lyneeturekhankins.com/files/images/headshot-1.jpg</url>
<title>Dr. Lynée Turek-Hankins</title>
<link>https://lyneeturekhankins.com/events.html</link>
</image>
<generator>quarto-1.6.40</generator>
<lastBuildDate>Tue, 25 Mar 2025 04:00:00 GMT</lastBuildDate>
<item>
  <title>Miami Climate Week panel on heat-healthy homes</title>
  <link>https://lyneeturekhankins.com/</link>
  <description>I participated in a panel conversation for Miami Climate Week and the Resilience 365 conference called &#39;Heat health: Innovative strategies for safer homes&#39;. My purpose on the panel was to connect the science of heat-health to the lived experiences and applied work of the other panelists, who were community members and local leaders.</description>
  <category>event</category>
  <guid>https://lyneeturekhankins.com/</guid>
  <pubDate>Tue, 25 Mar 2025 04:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/files/images/miami_climate_week.png" medium="image" type="image/png" height="92" width="144"/>
</item>
<item>
  <title>Workshop on the home energy transition: The heat pump</title>
  <link>https://lyneeturekhankins.com/events/2024_heat_pump_workshop/</link>
  <description><![CDATA[ 




<p><a href="https://irving.dartmouth.edu/news/2024/11/catalyzing-home-energy-transitions-new-england"><img src="https://lyneeturekhankins.com/events/2024_heat_pump_workshop/workshop_group.JPG" class="img-fluid"></a></p>
<p><strong>Overview:</strong> Home energy costs are unaffordable for many families in New England. The median low-income household in New England spends a tenth of its income on home energy bills1. For many families, the largest home energy expense is space heating. Traditional space heating technologies, like oil or gas furnaces, also emit large amounts of greenhouse gases, contributing to climate change. Indeed, the residential sector is one of the highest carbon-emitting sectors in the region2. Many technologies have been developed and deployed to alleviate household energy poverty and reduce carbon emissions, with heat pumps being a critical solution. However, challenges remain in making heat pumps accessible, affordable, reliable, and scalable.</p>
<p>Thirty-two practitioners, manufacturers, researchers, and students convened to discuss these growing, connected issues at a workshop at Dartmouth College on October 24, 2024. The goal of the workshop was to identify opportunities in and barriers to addressing home decarbonization and the residential heat pump transition in New England. The group brought together expansive expertise. Participants from the private sector covered the entire heat pump supply chain, including design, distribution, and installation. Other workshop participants contributed valuable knowledge on energy justice, public policy, human health, housing, community well-being, governance, workforce development, and climate change response.</p>
<p>The day was packed with opportunities to share, connect, and brainstorm. First, workshop participants shared their latest endeavors with the group, illuminating their unique perspectives. Six organizations presented their work, and five heat pump manufacturers showcased their technologies. Second, workshop participants connected with each other, many for the first time, bridging disciplinary and sectoral divides. Third, in small groups, workshop participants collaboratively brainstormed the biggest opportunities, challenges, and unknowns that face the development, deployment, and assessment of heat pumps and home decarbonization in New England. Finally, the workshop concluded with a round table reflection. Responses ranged from renewed interest in justice and equity to the importance of facilitating contractor apprenticeships.</p>
<p><strong>Workshop website:</strong> <a href="https://irving.dartmouth.edu/news/2024/11/catalyzing-home-energy-transitions-new-england" class="uri">https://irving.dartmouth.edu/news/2024/11/catalyzing-home-energy-transitions-new-england</a></p>



 ]]></description>
  <category>workshop</category>
  <guid>https://lyneeturekhankins.com/events/2024_heat_pump_workshop/</guid>
  <pubDate>Thu, 24 Oct 2024 04:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/events/2024_heat_pump_workshop/heat_pumps.jpg" medium="image" type="image/jpeg"/>
</item>
<item>
  <title>Leveraging the National Climate Assessment to Empower Communities</title>
  <link>https://lyneeturekhankins.com/</link>
  <description>I co-organized a workshop for the National Academies of Science, Engineering, and Medicine. The workshop’s goal was to help broaden the reach of the National Climate Assessment and increase its impact and use at local and regional levels. We focused on highlighting future opportunities to improve community engagement at all stages of the report’s development and dissemination.</description>
  <category>workshop</category>
  <guid>https://lyneeturekhankins.com/</guid>
  <pubDate>Wed, 09 Oct 2024 04:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/files/images/nasem_workshop.jpg" medium="image" type="image/jpeg"/>
</item>
<item>
  <title>Multisector dynamics: Confluence of societal and environmental change in urban areas</title>
  <link>https://lyneeturekhankins.com/</link>
  <description>I co-convened a session at the 2023 American Geophysical Union with members of the MultiSector Dynamics community.</description>
  <category>conference convening</category>
  <guid>https://lyneeturekhankins.com/</guid>
  <pubDate>Tue, 12 Dec 2023 05:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/files/images/agu_23.png" medium="image" type="image/png" height="61" width="144"/>
</item>
<item>
  <title>Fifth U.S. National Climate Assessment</title>
  <link>https://lyneeturekhankins.com/</link>
  <description>I served as a chapter author for the Fifth U.S. National Climate Assessment for chapter 18 Sector Interactions, Multiple Stressors, and Complex Systems.</description>
  <category>service</category>
  <guid>https://lyneeturekhankins.com/</guid>
  <pubDate>Tue, 14 Nov 2023 05:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/files/images/nca5_team.jpg" medium="image" type="image/jpeg"/>
</item>
<item>
  <title>Climate Café Series</title>
  <link>https://lyneeturekhankins.com/</link>
  <description>I participated in an educational event that sought to promote casual conversations with the public about climate change, grounded in science.</description>
  <category>education</category>
  <category>event</category>
  <guid>https://lyneeturekhankins.com/</guid>
  <pubDate>Wed, 18 Oct 2023 04:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/files/images/climate_cafe.jpg" medium="image" type="image/jpeg"/>
</item>
<item>
  <title>Thinking forward together: Emerging technologies and a changing energy sector</title>
  <link>https://lyneeturekhankins.com/</link>
  <description>I helped organize three deliberative conversations with community members in Kern County as a Summer Associate at the RAND Corporation. The conversations intended to create strucutre conversations around difficult topics involving Kern County&#39;s changing energy sector.</description>
  <category>event</category>
  <guid>https://lyneeturekhankins.com/</guid>
  <pubDate>Sat, 05 Aug 2023 04:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/files/images/kern_stock_photo.png" medium="image" type="image/png" height="100" width="144"/>
</item>
<item>
  <title>Heat check: Communities work to protect public health under hot conditions</title>
  <link>https://lyneeturekhankins.com/</link>
  <description>I participated in an educational workshop hosted by the Institute ofr Journalism &amp; Natural Resources. My charge was to help the journalists better understand the science of extreme heat response.</description>
  <category>education</category>
  <category>service</category>
  <category>workshop</category>
  <guid>https://lyneeturekhankins.com/</guid>
  <pubDate>Thu, 17 Nov 2022 05:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/files/images/ijnr.png" medium="image" type="image/png" height="144" width="144"/>
</item>
<item>
  <title>Science as Actionable Knowledge video series</title>
  <dc:creator>Global Council for Science and the Environment</dc:creator>
  <dc:creator>NASA Applied Sciences</dc:creator>
  <link>https://lyneeturekhankins.com/</link>
  <description>I participated in an educational video series focused on improving the proper use of co-production methods in scientific research.</description>
  <category>education</category>
  <category>service</category>
  <guid>https://lyneeturekhankins.com/</guid>
  <pubDate>Thu, 01 Sep 2022 04:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/files/images/gcse_video_series.png" medium="image" type="image/png" height="81" width="144"/>
</item>
<item>
  <title>Miami-Dade County Climate and Heat Health Taskforce</title>
  <link>https://lyneeturekhankins.com/</link>
  <description>I served on Miami-Dade County&#39;s Climate and Heat Health Taskforce. The taskforce aimed to identify short-term actions, create a framework for prioritizing future actions and for monitoring progress, and make recommendations for how to respond to extreme heat in the county. We hosted several public conversations to learn more about the community&#39;s needs and concerns regarding extreme heat.</description>
  <category>education</category>
  <category>service</category>
  <guid>https://lyneeturekhankins.com/</guid>
  <pubDate>Mon, 01 Aug 2022 04:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/files/images/mdc.png" medium="image" type="image/png" height="67" width="144"/>
</item>
<item>
  <title>Heat-health messaging campaign for pregnant women in Miami</title>
  <link>https://lyneeturekhankins.com/</link>
  <description>I served as a scientific advisor for a messaging campaign organized by the Miami-Dade Women&#39;s Fund. The goal of the campaign was to increase awareness of the dangers of extreme heat and effective cooling strategies for pregnant women.</description>
  <category>education</category>
  <category>service</category>
  <guid>https://lyneeturekhankins.com/</guid>
  <pubDate>Thu, 27 May 2021 04:00:00 GMT</pubDate>
  <media:content url="https://lyneeturekhankins.com/files/images/heat_campaign.jpg" medium="image" type="image/jpeg"/>
</item>
</channel>
</rss>
